                                            /* Reset */
* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    font-size: 16px;
}

                                            /* Fonts */

@font-face {
    font-family: "Spiegel";
    src: url("./resources/fonts/Spiegel-OTF/Spiegel-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Beaufort";
    src: url("./resources/fonts/BeaufortForLoL-OTF/BeaufortforLOL-Medium.otf") format("opentype");
}

                                            /* Page Grid Layout */

main {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    column-gap: 20px;
    background-color:darkslategray;
    padding-top:12.5rem;
}


                                            /* Header */

header {
    width: 100%;
    padding: 2rem;
    background-image: url("./resources/images/Sett_OriginalSkin.webp");
    overflow: hidden;
    border: 0.2rem ridge #0e1761;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}

header div {
    padding: 0.3rem;
    background-color: #0e1761;
    width: 210px;
    border-radius: 0.6rem;
    opacity: 0.9;
    border: 0.1rem solid #fcba03;
}

header h1 {
    position: relative;
    font-family: "Beaufort";
    font-size: 2.2rem;
    -webkit-text-stroke: 0.01rem #fcba03;
    text-shadow: 1rem 1rem 0.6rem black;
    text-align: center;
}

                                            /* Abilities */

.abilities-container {
    grid-column: 2 / span 2;
    height: auto;
    width: 100%;
    background-color: #363533;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem ridge #0e1761;
}

#abilities-header {
    text-align: center;
    font-family: "Beaufort";
    background-color: #242322;
    border-radius: 0.2rem;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0.1rem solid black;
    text-decoration:underline;
    text-shadow: 0.5rem 0.5rem 0.6rem black;
}

.abilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50 px repeat(12, 300px);
}

#pit-desc {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#pit-vid {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#knuckle-desc {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

#knuckle-vid {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

#haymaker-desc {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

#haymaker-vid {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

#facebreaker-desc {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

#facebreaker-vid {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

#showstopper-desc {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}

#showstopper-vid {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
}

.abilities video {
    justify-self: center;
    align-self: center;
    position: relative;
    left: 2rem;
}

.desc {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.desc h2 {
    font-family: "Beaufort";
    font-size: 1.8rem;
    text-shadow: 0.3rem 0.3rem 1rem black;
}

.desc h3 {
    font-family: "Spiegel";
    margin-top: 0.8rem;
    padding: 0.3rem 0.2rem;
    background-color:#242322;
    border-radius: 0.5rem;
}

                                            /* Skins */
.skins-container {
    grid-column: 2 / span 2;
    height: auto;
    width: 100%;
    background-color: #363533;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem ridge #0e1761;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#skins-header {
    text-align: center;
    font-family: "Beaufort";
    background-color: #242322;
    border-radius: 0.2rem;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0.1rem solid black;
    text-decoration:underline;
    text-shadow: 0.5rem 0.5rem 0.6rem black;
}

#skins-subheader {
    text-align: center;
    font-family: "Spiegel";
    margin-top: 0.7rem;   
    margin-bottom: 0.7rem;
    font-size: 1rem; 
    text-decoration: underline;
}

.skins {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    row-gap: 1rem;
    margin-top: 2.5rem;
}

.sett {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.sett-pic {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.mecha {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.mecha-pic {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.obsidian {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.obsidian-pic {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.pool {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

.pool-pic {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

.spirit {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

.spirit-pic {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

.soul {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}

.soul-pic {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
}

.heartsteel {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
}

.heartsteel-pic {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
}

.firecracker {
    grid-column: 1 / span 1;
    grid-row: 8 / span 1;
}

.firecracker-pic {
    grid-column: 2 / span 1;
    grid-row: 8 / span 1;
}

.prestige {
    grid-column: 1 / span 1;
    grid-row: 9 / span 1;
}

.prestige-pic {
    grid-column: 1 / span 1;
    grid-row: 9 / span 1;
}

.img {
    justify-self: right;
    align-self: center;
    position: relative;
    right: 2rem;
}

.img img {
    border-radius: 2.7rem;
    border: 0.2rem solid black;
    box-shadow: 0.1rem 0.1rem 1rem black;
}

.skin-desc {
    font-family: "Beaufort";
    padding: 0.2rem;
    align-self: center;
    font-size: 0.8rem;
    background-color: #242322;
    border-radius: 0.2rem;
    border: 0.1rem solid black;
    box-shadow: 0.1rem 0.1rem 1rem black;
    text-shadow: 0.2rem 0.2rem 0.7rem black;
    width: auto;
}

                                            /* Footer */

footer {
    border-top: 0.5rem solid black;
}

footer h4 {
    font-family: "Spiegel";
    text-decoration: underline;
}

                                            /* Media Exceptions */

@media only screen and (max-width: 1920px) {
    video {
        width: 400px;
        height: auto;
        padding: 1rem;
    }
}


@media only screen and (max-width: 1200px) {
    video {
        width: 300px;
        height: auto;
        padding: 1rem;
    }
}

@media only screen and (max-width: 950px) {
    video {
        width: 250px;
        height: auto;
        padding: 0.5rem;
        margin-right: 1rem;
    }

    .desc {
        font-size: 0.8rem;
    }

    .skin-desc {
        font-size: 0.6rem;
    }

    .skins img {
        height: 200px;
        width: auto;
    }
}
